Hello there, <%= @player1 %> and <%= @player2 %>, are you ready to play?
<br> </br>
<%= @player1 %> has <%= @player1_hp %> HP
<br> </br>
<%= @player2 %> has <%= @player2_hp %> HP
<br> </br>
<form action="/deduct_player2_hp" method="post">
Attack player 2 <input type="submit" id='<%= @player2 %>'>
</form>
<form action="/deduct_player1_hp" method="post">
Attack player 1 <input type="submit" id='<%= @player1 %>'>
</form>