Hello there, <%= @player1 %> and <%= @player2 %>, are you ready to play?
<br> </br>
<%= @player1 %> has <%= @player1_hp %> HP
<br> </br>
<%= @player2 %> has <%= @player2_hp %> HP
<br> </br>
<form action="/names" method="post">
<input type="submit" id='<%= @player2 %>'>
</form>